.register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130vh;
    width: 100%;
    background-color: #474028;


form{
    background-color: white;
    max-width: 400px;
    padding: 20px;
    width: 100%;
    border-radius: 5px;


h2{
    font-size: 20px;
    font-weight: bold;
    color: #232838;
    text-align: center;
}

button{
    height: 50px;
    width: 100%;
    background-color: #0171d3;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    margin: 15px 0 10px 0;
    cursor: pointer;
    border: none;
    transition: all 0.5s;


&:hover{
    background-color: #00529a;

    }        //hover
}          //button
.formLink{
    text-align: center;
}

.line{
    height:1px;
    width: 100%;
    margin: 20px 0px;
    background-color: #d4d4d4;
    position: relative;

    &::before{
        content: "Or";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        color: #232826;
        padding: 0 15px;
    }
}

.facebook{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    text-decoration: none;
    background-color: #4267b2;
    color: white;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    transition: all 0.3s ease;

&:hover{
    background-color: #1859aa;
} 

} 

.facebookIcon, .googleImg{
    display: flex;
    align-items: center;
    position:absolute;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.facebook.google{
    background-color: white;
    border: 0.5px solid grey;
    color: #232826;
    border-radius: 5px;


&:hover{
    background-color: rgba(128, 128, 128, 0.207);
    color: #d4d4d4;
}


}







}       // form



.formSignup{
    text-decoration: none;
}
}       // regiser
