.formInputs{
    display: flex;
    flex-direction: column;
    width: 100%;


input{
  padding: 10px;
  margin: 7px 0px;
      border: 1px solid #cacaca;
      outline: none;
      font-size: 17px;
      font-weight: 500;
}

}



  

// //       &:focus {
// //         border-bottom-width: 2px;
// //       }
      
// //       &:invalid [focused = "true"] {
// //         border: 2px solid red;
// //       }
  
// //     //   &:invalid [focused = 'true'] ~ .errorMessage {
// //     //   display: block;
// //     //   }
   
    
// //     } 
// //     .errorMessage{
// //         color: red;
// //         font-size: 13px !important;
// //         font-weight: bold;
// //         display: none;
        
//   }
  
//    }
   
    
    
  
   
  
  